@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar shadow">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 border-bottom bg-white shadow-sm d-flex align-items-center justify-content-end">
            <div class="d-flex align-items-center bg-light px-3 py-1 rounded-pill border">
                <span class="text-primary me-2"><i class="bi bi-clock-history"></i></span>
                <span class="text-muted small fw-bold">Active Session: @DateTime.Now.ToString("HH:mm")</span>
            </div>
        </div>

        <article class="content px-4 py-2">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
